# Back-End Variables
DATABASE_URL=postgres://User:password@localhost:5432/serviData
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE

# Front-End Variables
REACT_APP_BASENAME_REACT=/
# REACT_APP_BACKEND_URL=
